html {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  box-shadow: 0px 0px 10px #00000061;
}

.section {
  display: flex;
  align-items: center;
}

.section img {
  margin-right: 5px;
  height: 20px;
}

.input {
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
  border-radius: 3px;
  text-align: center;
}